<footer class="site-footer clearfix">
  <section class="footer-links">
    <div class="mdl-cell--8-col-desktop footer-subscribe">
      <h5 style="color:#fff">Get My Newsletter</h5>
      <a href="http://eepurl.com/bRp_PD" target="_blank" style="background-color: #263238; color: #fff;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        Sign Up Now
      </a>
    </div>
    <div class="mdl-cell--3-col-desktop footer-social">
      <p>Connect on social media</p>
      <a style="font-size:23px;"target="_blank" href="https://twitter.com/graeme_fulton"><i class="fa fa-twitter"></i></a>
      <a  style="font-size:23px;" target="_blank"href="https://uk.linkedin.com/in/graeme-fulton-98889b53"><i class="fa fa-linkedin"></i></span></a>
    </div>
  </section>
  <section class="footer-secondary mdl-cell--11-col-desktop">
    <p class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} |
  Proudly published with <a href="https://ghost.org">Ghost</a></p>
  </section>
</footer>
